a {
  &:not(.clean-link) {
    position: relative;
    transition: all 0.2s ease-out;
    &:after {
      content: '';
      width: 105%;
      margin-left: -2.5%;
      height: rem(10);
      background-color: var(--color-primary);
      position: absolute;
      bottom: -2px;
      left: 0;
      opacity: 0.5;
      transition: all 0.2s ease-out;
      z-index: -1;
    }
    &:hover,
    &.nuxt-link-exact-active {
      &:after {
        height: 100%;
      }
    }
  }
}
